* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --ft-all: 'Roboto', sans-serif;
  --bg-body: #a2ade7;
  --bg-main: white;
  --clr-span: darkblue;
  --btn-color: rgba(43, 28, 28, 0.802);
  --btn-hover: #a2ade7;
  --clr-h1: #333;
  --clr-h2: darkblue;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: var(--ft-all);
  background-color: var(--bg-body);
}

body, input, button {
  font-size: 1.6rem;
  line-height: 3rem;
}

.main {
  display: grid;
  gap: 1.8rem;
  align-items: center;
  justify-items: center;
}

.container {
  height: 100vh;
  display: grid;
  place-content: center;
}

div.card {
  padding: 1.4rem 3.4rem 5rem 3.4rem;
  background-color: var(--bg-main);
  max-width: 50rem;
  margin: 2rem;
  display: grid;
  align-items: center;
  box-shadow: 1rem 1rem 1rem rgba(154, 11, 11, 0.1);
  border-radius: 3rem;
}
div.card-music {
  padding: 1.4rem 3.4rem 5rem 3.4rem;
  background-color: var(--bg-main);
  max-width: 50rem;
  margin: 1rem -2rem;
  display: grid;
  align-items: center;
  border-radius: 2rem;
}
img {
  width: 35rem;
  height: 35rem;
  object-fit: scale-down;
}

h1 {
  margin-top: -5rem;
  margin-bottom: 0;
  font-size: 2.5rem;
  color: var(--clr-h1);
}

h2 {
  color: var(--bg-span);
  font-size: 2.5rem;
  margin-bottom: 1.6rem;
  padding-top: 1.6rem;
}

span {
  color: var(--clr-span);
  font-weight: 500;
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

button {
  background-color: inherit;
  color: var(--btn-color);
  border: none;
  cursor: pointer;
  font-size: 4rem;
}

button:hover {
  color: var(--btn-hover);
}

#container-button {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.volume-audio {
  display: flex;
  position: absolute;
  margin-top: 9rem;
  opacity: .7;
}

/* Estilo do modal */

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-wrapper.open {
  display: flex;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal .title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.modal .close {
  background: none;
  border: none;
  cursor: pointer;
}

.modal .close img {
  width: 20px;
  height: 20px;
}

.modal img {
  position: relative;
  right: -2rem;
  top: -1rem;
}

/* Estilo adicional para responsividade */

@media (max-width: 768px) {
  .card {
    padding: 2rem 1rem;
    max-width: 90%;
  }

  .main {
    gap: 1rem;
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: .8rem;
    margin-top: .2rem;
    object-fit: scale-down;
  }

  h1 {
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 0rem;
  }

  span {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .buttons {
    margin-top: 1rem;
  }

  button {
    font-size: 3rem;
    padding: 0.5rem;
  }
}
/* Estilos para a lista de músicas */
.music-list {
  margin-top: 2rem;
  max-height: 250px; /* Altura máxima da lista de músicas */
  overflow-y: auto; /* Adiciona barra de rolagem vertical se necessário */
}

.music-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.music-list li {
  cursor: pointer;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  font-size: 1.8rem;
}

.music-list li:hover {
  background-color: #f0f0f0;
}

/* Estilos adicionais podem ser ajustados conforme necessário */
